@use '@/app/assets/scss/utils' as *;

.reset-password {
  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 22.875rem;
    width: 22.875rem;
  }

  &__input {
    width: 100%;
    height: 3rem;
  }

  &__error-message {
    color: $color-checked-not-verified;
    @include font(0.875rem, 400, 142%);

    &_small {
      @include font(0.75rem, 400, 142%);
    }
  }
}

@media screen and (max-width: $tablet) {
  .reset-password {
    &__inputs-container {
      max-width: none;
      width: 100%;
    }
  }
}
