@use '../utils' as *;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  background-color: $color-surface-secondary;
  color: $color-text-primary;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

._container {
  max-width: 90rem;
  margin: 0 auto;
  @include padding-horizontal(2.5rem);
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
}

@media screen and (max-width: $tablet) {
  ._container {
    @include padding-horizontal(1.25rem);
  }
}

@media screen and (max-width: $mobile-md) {
  ._container {
    @include padding-horizontal(1rem);
  }
}