@use '@/app/assets/scss/utils' as *;

.dropdown-filter {
  &__fieldset {
    @include flex(column);
    gap: 0.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    margin-top: 0.75rem;
  }

  &__row-container {
    display: flex;
    gap: 1.5rem;

    .dropdown-filter__item {
      width: auto;
    }
  }

  &__column-container {
    @include flex(column);
    gap: 0.5rem;
  }

  &__other-filters {
    display: flex;
    gap: 1.5rem;

    .dropdown-filter__fieldset {
      gap: 0.25rem;
      min-width: 9rem;

      & > .dropdown-filter__title {
        margin-bottom: 0rem;
      }
    }
  }
}

@media screen and (max-width: $desktop-md) {
  .dropdown-filter {
    &__item {
      width: 9rem;
    }
  }
}
