@use '@/app/assets/scss/utils' as *;

.filter {
  &__fieldset {
    @include flex(column);
    gap: 0.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    margin-top: 0.75rem;
  }

  &__row-container {
    display: flex;
    gap: 1.5rem;

    .filter__item {
      width: auto;
    }
  }

  &__column-container {
    @include flex(column);
    gap: 0.5rem;
  }
}
