:root {
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
  --color-text-invert: #FFFFFF;

  --color-surface-primary: #FFFFFF;
  --color-surface-secondary: #F9FAFB;
  --color-surface-highlight: #F3F4F6;
  --color-surface-invert: #111827;
  --color-surface-brand:#be123c14;
  --color-footer-background: #111827;

  --color-button: #BE123C;

  --color-border-invert: #FFFFFF;
  --color-border-primary: #D1D5DB;
  --color-border-secondary: #E5E7EB;
  --color-border-icons: #9CA3AF;
  --color-border-accent: #BE123C;

  --color-accent-primary: #BE123C;
  --color-accent-secondary: #F43F5E;

  --color-gradient-flags: rgba(255, 255, 255, 0.6);
  --color-gradient-flags-hover: rgba(255, 255, 255, 0.5);
  --gradient-radial: radial-gradient(50% 50% at 50% 50%, #F3F4F6 0%, #f3f4f6 100%);
}

$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-text-invert: var(--color-text-invert);

$color-surface-primary: var(--color-surface-primary);
$color-surface-secondary: var(--color-surface-secondary);
$color-surface-highlight: var(--color-surface-highlight);
$color-surface-invert: var(--color-surface-invert);
$color-surface-brand: var(--color-surface-brand);
$color-footer-background : var(--color-footer-background);

$color-other-silver: #8E94A1;
$color-other-golden: #C4A020;
$color-other-bronze: #A66417;
$color-other-green: #18A215;
$color-other-blue: #0651C1;
$color-other-red: #BE1212;

$color-checked-similar: #18A215;
$color-checked-not-similar: #0651C1;
$color-checked-by-photo: #A66417;
$color-checked-personally: #C4A020;
$color-checked-by-video: #8E94A1;
$color-checked-not-verified: #DA1212;
$color-feedback-positive: #17a21533;
$color-feedback-normal: #0651C133;
$color-feedback-negative: #DA121233;
$color-warning: #FBBF24;

$color-accent-primary: var(--color-accent-primary);
$color-accent-secondary: var(--color-accent-secondary);

$color-button: var(--color-button);

$color-border-invert: var(--color-border-invert);
$color-border-primary: var(--color-border-primary);
$color-border-secondary: var(--color-border-secondary);
$color-border-icons: var(--color-border-icons);
$color-border-accent: var(--color-border-accent);

$gradient-linear-silver: linear-gradient(156.1deg, #C7CAD0 -1.47%, #F4F4F4 45.72%, #BBC0C9 100%);
$gradient-linear-gold: linear-gradient(90.74deg, #D0AF5B 0%, #FFE5B3 63.9%, #B69235 100%);
$gradient-linear-accent: linear-gradient(90.74deg, #881337 0%, #be123c 49%, #881337 100%);
$gradient-linear-bronze: linear-gradient(155.68deg, #B17938 1.15%, #FEE6CA 47.11%, #AD6C21 100%);
$gradient-linear-variants: linear-gradient(270deg, #320b38 0%, #320b38 50%, #ffffff 50%, #ffffff 100%);
$gradient-radial: var(--gradient-radial);
$color-gradient-flags: var(--color-gradient-flags);
$color-gradient-flags-hover: var(--color-gradient-flags-hover);

$desktop-lg: 90rem;
$desktop-md: 80rem;
$desktop-sm: 64rem;
$tablet: 46.5rem;
$mobile-md: 26.875rem;

$sm-shadow: 0rem 0.0625rem 0.375rem rgba(7, 7, 8, 0.15);
$hover-light-mode: 0rem 0.25rem 0.9375rem rgba(190, 18, 60, 0.3);
$hover-dark-mode: 0rem 0.25rem 0.9375rem rgba(244, 63, 94, 0.3);

$transition-hover: 0.3s;