@use '../utils' as *;

.button {
  @include flex(row, center, center);
  @include font(1rem, 600, 137%);
  text-align: center;
  padding: 0.25rem 1.25rem;
  min-height: 2.875rem;
  border-radius: 0.5rem;
  transition: all $transition-hover;
  cursor: pointer;
}

.button_primary {
  background-color: $color-button;
  color: $color-text-invert;

  &:hover {
    box-shadow: $hover-light-mode;
  }
}

.button_secondary {
  background-color: $color-surface-highlight;
  color: $color-button;
  outline: 0.0625rem solid $color-surface-highlight;

  &:hover {
    background-color: $color-surface-secondary;
    outline: 0.0625rem solid $color-border-accent;
  }
}

.button_small {
  min-height: 2.1875rem;
  @include font(0.875rem, 600, 136%);
}

.button_outlined {
  outline: 0.0625rem solid $color-border-accent;
  color: $color-button;
  transition: outline $transition-hover;

  &:hover {
    outline-width: 0.125rem;
  }
}

.button_icon-button-primary {
  color: $color-surface-invert;
  &:hover {
    color: $color-button;
  }
  &[disabled], &:disabled {
    color: $color-border-icons;
  }
}

.button_icon-button-secondary {
  color: $color-border-icons;
  &:hover {
    color: $color-surface-invert;
  }
  &[disabled], &:disabled {
    color: $color-border-icons;
  }
}

.button_icon-button-colored {
  color: $color-button;
  &:hover {
    color: $color-button;
    background-color: $color-surface-primary;
  }
  &.active {
    color: $color-button;
    background-color: $color-surface-primary;
  }
}

.button_with-icon {
  @include flex(row, center, center);
  gap: 0.5rem;
  color: $color-text-primary;
  padding: 0rem 1rem;

  &:hover {
    background-color: $color-surface-primary;
  }
}

.button_with-indicator {
  position: relative;

  &::after {
    content: '1';
    position: absolute;
    top: 0.3125rem;
    right: 0.375rem;
    @include size(0.9375rem);
    @include font(0.6875rem, 600, 136%);
    color: $color-button;
    outline: 0.0625rem solid $color-button;
    background-color: $color-surface-primary;
    border-radius: 50%;
    z-index: 2;
  }
}