@use '../utils' as *;

.dropdown-city {
  z-index: 100;
  width: 100%;

  &__btn {
    @include flex(row, flex-start, center);
    gap: 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    width: 11.75rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: all $transition-hover;

    &.active {
      background-color: $color-surface-primary;
    }

    &:hover {
      background-color: $color-surface-primary;
    }
  }

  &__chevron {
    color: $color-button;
    transition: transform $transition-hover ease-in;

    &.active {
      transform: rotateZ(-180deg);
    }
  }

  &__text {
    color: $color-text-primary;
    width: 16.25rem;
  }

  &__body {
    @include flex(column, center, flex-start);
    background-color: $color-surface-primary;
    border-radius: 0.75rem;
    opacity: 0;
    height: 0rem;
    max-height: 0rem;
    padding: 0 1.25rem;
    margin-top: 0.5rem;
    transition: opacity .3s, max-height .3s, height .3s;
    pointer-events: none;
    gap: 0.5rem;

    &.active {
      transition: opacity .3s .2s, max-height .7s, height .7s;
      height: 100%;
      max-height: 150rem;
      opacity: 1;
      pointer-events: all;
    }
  }

  &__container {
    @include flex(row, flex-start, center);
    @include font(1.125rem, 600, 144%);
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.25rem 2.5rem;

    &.lt {
      background: linear-gradient(0deg, $color-gradient-flags, $color-gradient-flags), url('../../assets/img/lithuania.jpg') no-repeat;
      background-size: cover;
      margin-top: 1.25rem;
    }

    &.lv {
      background: linear-gradient(0deg, $color-gradient-flags, $color-gradient-flags), url('../../assets/img/latvia.jpg') no-repeat;
      background-size: cover;
    }

    &.ee {
      background: linear-gradient(0deg, $color-gradient-flags, $color-gradient-flags), url('../../assets/img/estonia.jpg') no-repeat;
      background-size: cover;
      margin-bottom: 1.25rem;
    }
  }

  &__list {
    @include flex(row);
    gap: 2.5rem;
  }

  &__item {
    display: flex;
    gap: 4px;
    @include font(1.125rem, 600, 144%);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color $transition-hover;

    &:hover {
      background-color: $color-gradient-flags-hover;
    }
    &.active {
      background-color: $color-gradient-flags-hover;
    }
  }
}

@media screen and (max-width: $desktop-md) {
  .dropdown-city {
    &__container {
      padding: 1.25rem 0.75rem;
    }

    &__list {
      gap: 0.375rem;
    }

    &__text {
      width: 8.25rem;
    }
  }
}

@media screen and (max-width: $desktop-sm) {
  .dropdown-city {
    &__container {
      @include flex(column, flex-start, flex-start);
      gap: 0.75rem;
      padding: 0.75rem;
    }

    &__item {
      @include font(1rem, 600, 137%);
      padding: 0.5rem;
    }

    &__text {
      @include font(1rem, 600, 144%);
    }
  }
}

@media screen and (max-width: $tablet) {
  .dropdown-city {
    &__list {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: $mobile-md) {
  .dropdown-city {
    &__list {
      row-gap: 0.25rem;
      column-gap: 0.375rem;
    }
  }
}