@use '../utils' as *;

.modal-menu {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 10001;
  transition: all 0.6s;
  @include size(100%);
  @include flex(column, center, center);

  &.closed {
    opacity: 0;
    transition: all 0.6s;
    visibility: hidden;
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @include size(100%);
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.extended-filter {
  position: relative;
  overflow: auto;
  max-width: 68.75rem;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  background-color: $color-surface-primary;

  &__title {
    color: $color-brand-rose-600;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__cross {
    display: block;
    position: absolute;
    z-index: 1000;
    margin: 1.125rem;
    top: 0;
    right: 0;
  }

  &__containers {
    @include flex(column);
    gap: 2.5rem;
  }

  &__container {
    @include flex(row, space-between);
    gap: 1.5rem;
    width: 100%;
  }

  &__container-reviews {
    & .item-extended-filter__forms {
      flex: 1 1 50%;
    }
  }

  &__container-additional {
    .item-extended-filter__forms {
      gap: 1.5rem;
    }
  }

  &__button {
    margin-top: 2.5rem;
  }
}

.item-extended-filter {
  @include flex(column);
  gap: 0.5rem;
  width: 100%;

  &__stripe {
    height: 0.0625rem;
    width: 100%;
    background-color: $color-border-primary;
    margin-bottom: 0.75rem;
  }

  &__subtitle {
    margin-top: 0.75rem;
  }

  &__unit {
    color: $color-text-secondary;
  }

  &__form {
    @include flex(row, flex-start, center);
    gap: 0.5rem;

    & label {
      min-width: 4.375rem;
    }

    
  }

  &__preferences,
  &__reviews,
  &__additional,
  &__appearance,
  &__fetish,
  &__location {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__fetish {
    align-items: stretch;
  }

  &__reviews,
  &__additional,
  &__appearance,
  &__fetish,
  &__location {
    & .heading_h6 {
      min-width: 9rem;
      width: 9rem;
      text-align: right;

      &.heading__align-self_start {
        align-self: flex-start;
      }
    }
  }

  &__fetish>&__row {
    flex: 1 1 50%;
  }

  &__languages, &__beard-type {
    flex-wrap: wrap;
  }

  &__forms-container {
    @include flex(row);
    gap: 1.5rem;
  }

  &__forms {
    flex: 1 1 33%;
    @include flex(column);
    gap: 0.5rem;

    &-appearance,
    &-location {
      gap: 1.5rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &_gap-md {
      gap: 0.75rem;
    }
  }

  &__row {
    &_wrap {
      flex-wrap: wrap;
    }

    &_gap-big {
      gap: 1.5rem;
    }

    display: flex;
    align-items: center;
    gap: 0.5rem;

    & label {
      width: auto;
    }
  }

  &__create-questionary {
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (max-width: $desktop-lg) {
  .extended-filter {
    max-width: 64rem;
  }
}

@media screen and (max-width: $desktop-sm) {
  .extended-filter {
    padding: 1.25rem 1.25rem 2rem;
    &__title {
      text-align: left;
    }

    &__container {
      flex-wrap: wrap;
    }

    &__container-preferences,
    &__container-reviews,
    &__container-additional {
      .item-extended-filter {
        width: 100%;
      }
    }
  }

  .item-extended-filter {
    width: auto;

    &__row {
      flex-wrap: wrap;
    }

    &__fetish {
      input[type="number"] {
        &.medium {
          width: 3.625rem;
        }
      }
    }
  }

}

@media screen and (max-width: $tablet) {
  .extended-filter {
    &__title {
      @include font(1.25rem, 700, 136%);
    }
    &__container-reviews {
      & .item-extended-filter__forms {
        gap: 1.5rem;
      }
    }
  }

  .item-extended-filter {
    width: 100%;

    &__forms-container {
      flex-direction: column;
    }

    &__appearance {
      &.wrap {
        flex-wrap: wrap;
      }
    }

    &__additional {
      .dropdown.wide {
        width: 14.875rem;
      }
    }

    &__fetish {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: $mobile-md) {
  .item-extended-filter {

    &__piercing,
    &__tattoo,
    &__additional,
    &__appearance,
    &__fetish,
    &__location,
    &__languages {
      flex-direction: column;
      align-items: stretch;

      & .heading_h6 {
        text-align: left;
      }
    }
    &__form {
      &.wrap {
        flex-wrap: wrap;
      }
    }
  }
}