@use '../utils' as *;

.dropdown-filter {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: $color-surface-primary;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0 1.25rem;
  opacity: 0;
  height: 0rem;
  max-height: 0rem;
  margin-top: 0.5rem;
  pointer-events: none;
  transition: opacity .4s, max-height .3s .3s, height .3s .3s, margin .0s .3s;

  &.active {
    transition: opacity .4s .3s, max-height .6s, height .6s, margin .1s .2s;
    height: 100%;
    max-height: 150rem;
    opacity: 1;
    pointer-events: all;
  }

  &__body {
    @include flex(row);
    gap: 1.5rem;
    padding-top: 1.25rem;
  }

  &__btn-more {
    position: relative;
  }

  &__btn-text {
    color: $color-button;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 9rem;
  }

  &__item-price {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item-number-inputs {
    display: flex;
    gap: 0.5rem;
    align-items: center
  }

  &__form {
    @include flex(column);
    gap: 0.5rem;
  }

  &__title {
    margin-top: 0.75rem;
  }

  &__btns {
    @include flex(column);
    gap: 0.75rem;
  }

  &__other-filters {
    display: flex;
    gap: 1.5rem;

    .dropdown-filter__form {
      gap: 0.25rem;
      min-width: 9rem;

      &>.dropdown-filter__title {
        margin-bottom: 0rem;
      }
    }
  }

  &__row-container {
    display: flex;
    gap: 1.5rem;

    .dropdown-filter__item {
      width: auto;
    }
  }

  &__body-bottom {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 1.25rem;
  }
}

.popup-dropdown-filter {
  position: absolute;
  background-color: $color-surface-highlight;
  height: 224px;
  border-radius: 8px;
  border: 1px solid $color-border-primary;
  padding: 12px;
  &__heading {
    display: flex;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-border-primary;
  }
  &__title {

  }
  &__cross {
    color: $color-border-icons;
    cursor: pointer;
  }
  &__list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    height: 86px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__btns {
    display: flex;
    gap: 8px;
    margin-top: 20px;
  }
}

@media screen and (max-width:$desktop-md) {
  .dropdown-filter {
    &__body,
    &__body-bottom,
    &__other-filters {
      flex-wrap: wrap;
    }

    &__btns {
      flex-direction: row;
    }
  }
}

@media screen and (max-width:$tablet) {
  .dropdown-filter {
    &__body-bottom {
      justify-content: center;
    }
  }
}

@media screen and (max-width:$mobile-md) {
  .dropdown-filter {
    &__body-bottom {
      justify-content: flex-start;
    }

    &__btns {
      flex-direction: column;
    }
  }
}