@use '../utils' as *;

label {
  user-select: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 1.25rem;
  min-height: 1.25rem;
  border: 0.0625rem solid $color-border-primary;
  padding: 0.5625rem;
  border-radius: 0.25rem;
  transition: border-color $transition-hover;

  &:hover {
    border: 0.0625rem solid $color-border-accent;
  }

  &:checked {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    accent-color: $color-button;
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.0625rem solid $color-border-primary;
  padding: 0.5625rem;
  border-radius: 50%;
  transition: border-color $transition-hover;

  &:hover {
    border: 0.0625rem solid $color-border-accent;
  }

  &:checked {
    display: inline-block;
    background-clip: content-box;
    border: 0.3125rem solid $color-button;
    background-color: $color-surface-primary;
    border-radius: 50%;
    padding: 0.3125rem;
  }
}

input[type="number"] {
  outline: 0.0625rem solid $color-border-primary;
  background-color: transparent;
  border-radius: 0.25rem;
  min-height: 2.25rem;
  color: $color-text-primary;
  padding: 0.5rem 0.75rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $color-text-secondary;
  }

  &.small {
    width: 3.75rem;
  }

  &.medium {
    width: 6.125rem;
  }
  &:hover {
    outline-color: $color-border-accent;
  }
  &:focus {
    outline: 0.125rem solid $color-border-accent;
  }
  &:disabled {
    outline-color: $color-border-primary;
    background-color: $color-surface-highlight;
  }
}