@use '../utils' as *;

.dropdown-lang-header {
  &__btn {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__btn:hover &__content {
    display: flex;
  }

  &__btn:hover &__item:hover {
    // background-color: $light-2;
  }

  &__body {
    display: flex;
    gap: 8px;
  }

  &__text {
    font-size: 16px;
  }

  &__icon {
  }

  &__content {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 40px 0px;
    gap: 10px;
  }

  &__item {
    font-size: 16px;
  }
}

@media screen and (max-width: $desktop-sm) {
  .dropdown-lang-header__text {
    @include font(20px, 600, 140%);
  }
}
