body.darkmode {
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A2779B;
  --color-text-invert: #111827;
  --color-surface-primary: #410F39;
  --color-surface-secondary: #320B38;
  --color-surface-highlight: #521849;
  --color-surface-invert: #FFFFFF;
  --color-surface-brand:#f43f5e14;
  --color-footer-background:#521849;
  --color-button: #F43F5E;
  --color-slider-round-button:rgba(65, 15, 57, 0.4);
  --color-border-invert: #320B38;
  --color-border-primary: #7E3A73;
  --color-border-secondary: #612A58;
  --color-border-icons: #E5E7EB;
  --color-border-accent: #BE123C;
  --color-accent-primary: #F43F5E;
  --color-accent-secondary: #BE123C;
  --color-checked-not-similar:#217AFF;
  --color-positive-bg:#22ad5c1a;
  --color-normal-bg:#217AFF1a;
  --color-negative-bg:#DA12121a;
  --color-warning-bg:#FBBF241a;
  --color-gradient-flags: rgba(50, 11, 56, 0.5);
  --color-gradient-flags-hover:rgba(50, 11, 56, 0.7);
  --gradient-radial: radial-gradient(50% 50% at 50% 50%, rgb(190, 18, 60, 0.6) 0%, rgb(50, 11, 56, 0.6) 100%);
}