body.darkmode {
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #D1D5DB;
  --color-text-invert: #111827;
  --color-surface-primary: #410F39;
  --color-surface-secondary: #320B38;
  --color-surface-highlight: #521849;
  --color-surface-invert: #FFFFFF;
  --color-button: #F43F5E;
  --color-border-invert: #320B38;
  --color-border-primary: #7E3A73;
  --color-border-secondary: #612A58;
  --color-border-icons: #E5E7EB;
  --color-border-accent: #BE123C;
}