@use '../utils' as *;

.header {
  width: 100%;
  position: relative;
  background-color: $color-surface-primary;
  &__container {
    @include flex(row, space-between, center);
    @include padding-vertical(0.75rem);
    min-height: 4rem;
  }

  &__content {
    width: 100%;
    @include flex(row, space-between, center);
    gap: 3rem;
  }

  &__logo {
    flex: 0 0 10rem;
    z-index: 101;
  }

  &__body {
    @include flex(row, space-between, center);
    gap: 2rem;
  }

  &__buttons {
    @include flex(row, flex-start, center);
    gap: 0.75rem;
  }

  &__login-btns {
    @include flex(row, flex-start, flex-start);
    gap: 0.5rem;

    &__button {
      text-wrap: nowrap;
    }
  }

  &__navmenu {
    position: relative;
    width: 100%;
  }
}

.navmenu-header {
  &__list {
    @include flex(row, space-between, center);
    gap: 2rem;
    font-size: 1rem;
  }

  &__item {
    display: block;
    max-width: min-content;
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
    padding-bottom: 0.5rem;
    margin-bottom: -0.5rem;
  
    &::after {
      content: '';
      position: absolute;
      bottom: 0rem;
      left: 0;
      width: 100%;
      height: 0.0625rem;
      background-color: $color-border-accent;
      transition: all 0.3s ease;
      opacity: 0;
    }
  
    &:hover::after,
    &:focus::after {
      opacity: 1;
    }
  }
}

.dropdown-lang-header {
  &__btn {
    @include flex(row, space-between, center);
    cursor: pointer;
  }
}

.burger-header {
  @include flex(column, center, center);
  display: none;
  gap: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.375rem 0.1875rem;
  cursor: pointer;
  z-index: 101;
}

.burger-header__stripe_1,
.burger-header__stripe_2,
.burger-header__stripe_3 {
  transition: all 0.3s;
}

.burger-header.active .burger-header__stripe_1 {
  transform: translateY(0.3125rem) rotate(45deg);
}

.burger-header.active .burger-header__stripe_2 {
  display: none;
  opacity: 0;
}

.burger-header.active .burger-header__stripe_3 {
  transform: rotate(-45deg);
}

.burger-header__stripe {
  background-color: $color-surface-invert;
  width: 1.125rem;
  height: 0.0625rem;
  border-radius: 0.625rem;
}

@media screen and (max-width: $desktop-md) {
  .navmenu-header__list {
    flex-direction: column;
    gap: 2rem;
    @include font(1.5rem, 600, 136%);
    font-family: 'Manrope', sans-serif;
    color: $color-text-primary;
  }

  .burger-header {
    display: flex;
    z-index: 1001;
  }

  .header__body {
    @include flex(column, center, center);
    background-color: $color-surface-primary;
    position: absolute;
    transition: top 1s ease-in;
    z-index: 1000;
    top: -250vh;
    left: 0;
    width: 100vw;
    padding: 1.25rem;
    gap: 0rem;
  }

  .header__body.active {
    top: 4rem;
    transition: top 1s ease;
  }

  .header__navmenu {
    margin-bottom: 0rem;
  }

  .header__navmenu::after {
    content: '';
    width: 100%;
    background-color: $color-border-primary;
    height: 0.0625rem;
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .header__buttons {
    @include flex(row, center, center);
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
  }

  .header__login-btns {
    width: 100%;
    justify-content: space-between;
    & a {
      width: 100%;
    }
  }

  .header__theme-switch {
    order: -1;
  }

  .header__dropdown-lang {
    order: -2;
  }
}

@media screen and (max-width: $mobile-md) {
  .navmenu-header__list {
    @include font(1.25rem, 700, 136%);
  }

  .header__login-btns {
    flex-direction: column;
  }
  .header__body {
    padding: 1rem;
  }
}