@use '../utils' as *;

.footer {
  background-color: $color-surface-invert;
  &__container {
    @include flex(column);
    @include padding-vertical(40px);
    gap: 20px;
  }

  &__content {
    @include flex(row);
    gap: 24px;
  }

  &__logo {
    flex: 0 0 128px;
    & img {
      object-fit: contain;
    }
  }

  &__navmenu {
    color: $color-text-invert;
    width: 100%;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $color-border-icons;
  }

  &__copyright {
  }

  &__copyright-text {
    color: $color-text-secondary;
  }
}
.navmenu-footer {
  &__list {
    @include flex(row, space-between);
    
  }

  &__item {
  }
}

@media screen and (max-width:$desktop-sm) {
  .footer {
    &__content {
      @include flex(column, flex-start, flex-start);
      gap: 20px;
    }

    &__logo {
      flex: 0 0 auto;
      width: 128px;
      height: auto;
    }
  }

  .navmenu-footer {
    &__list {
      @include flex(column);
      flex-wrap: wrap;
      gap: 12px;
      height: 58px;
    }
  }
}

@media screen and (max-width:$mobile-md) {
  .navmenu-footer {
    &__list {
      height: 128px;
    }
  }
}

@media screen and (max-width:$mobile-md) {
  .navmenu-footer {
    &__list {
      @include flex(column);
      height: auto;
    }
  }
}