@use '../utils' as *;

.header {
  width: 100%;
  position: relative;
  &__container {
    @include flex(row, space-between, center);
    @include padding-vertical(12px);
    min-height: 54px;
  }

  &__content {
    width: 100%;
    @include flex(row, space-between, center);
    gap: 48px;
  }

  &__logo {
    flex: 0 0 160px;
    z-index: 101;
  }

  &__body {
    @include flex(row, space-between, center);
    gap: 32px;
  }

  &__buttons {
    @include flex(row, flex-start, center);
    gap: 12px;
  }

  &__login-btns {
    @include flex(row, flex-start, flex-start);
    gap: 8px;

    &__button {
      text-wrap: nowrap;
    }
  }

  

  &__navmenu {
    position: relative;
    width: 100%;
  }
}

.navmenu-header {
  &__list {
    @include flex(row, space-between, center);
    gap: 32px;
    font-size: 16px;
  }
}

.dropdown-lang-header {
  &__btn {
    @include flex(row, space-between, center);
    cursor: pointer;
  }
}

.burger-header {
  @include flex(column, center, center);
  display: none;
  gap: 4px;
  width: 24px;
  height: 24px;
  padding: 6px 3px;
  cursor: pointer;
  z-index: 101;
}
.burger-header__stripe_1,
.burger-header__stripe_2,
.burger-header__stripe_3 {
  transition: all 0.3s;
}

.burger-header.active .burger-header__stripe_1 {
  transform: translateY(5px) rotate(45deg);
}

.burger-header.active .burger-header__stripe_2 {
  display: none;
  opacity: 0;
}

.burger-header.active .burger-header__stripe_3 {
  transform: rotate(-45deg);
}

.burger-header__stripe {
  background-color: $color-surface-invert;
  width: 18px;
  height: 1px;
  border-radius: 10px;
}

@media screen and (max-width: $desktop-sm) {
  .navmenu-header__list {
    flex-direction: column;
    gap: 40px;
    @include font(20px, 600, 140%);
  }

  .burger-header {
    display: flex;
  }

  .header__body {
    @include flex(column, center, center);
    background-color: $color-surface-primary;
    position: absolute;
    transition: top 1s ease-in;
    z-index: 100;
    top: -250vh;
    left: 0;
    width: 100vw;
    padding: 20px;
    gap: 24px;

  }
  .header__body.active {
    top: 56px;
    transition: top 1s cubic-bezier(0.070, 1.020, 0.340, 0.635);
  }

  .header__navmenu {
    margin-bottom: 32px;
  }

  .header__navmenu::after {
    content: '';
    width: 100%;
    // background-color: $light-2;
    height: 1px;
    display: flex;
    margin-top: 32px;
    margin-bottom: -32px;
  }

  .header__button {
    order: 1;
  }
}
