@use '../utils' as *;

.home {
  padding: 1.5rem 0rem;

  &__container {
    display: flex;
    gap: 2.75rem;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: white;
  }

  &__heading {
    @include flex(row, center, center);
    white-space: nowrap;
    margin-bottom: 1.25rem;
    padding: 0.75rem 0rem;
    background: $gradient-linear-accent;
    border-radius: 0.5rem;
  }

  &__all-cards {
    display: flex;
    flex-direction: column;
    flex: 1 1 81%;
    gap: 0.75rem;
    background-color: $color-surface-primary;
    border: 0.0625rem solid $color-border-primary;
    border-radius: 0.75rem;
    padding: 0rem 1rem;
  }

  &__verified-cards,
  &__coming-soon-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__verified-cards,
  &__coming-soon-cards,
  &__random-cards {
    padding: 1rem 0rem;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: minmax(calc(33% - 0.25rem), 1fr) minmax(calc(33% - 0.25rem), 1fr) minmax(calc(33% - 0.25rem), 1fr);
    grid-template-rows: auto;
    gap: 0.75rem;
  }

  &__image-block {
    @include flex(column, center, center);
    @include font(2.5rem, 600, 120%);
    position: relative;
    font-family: Inter;
    color: $color-text-secondary;
    font-size: 2.5rem;
    min-width: 18.75rem;
    min-height: 37.5rem;
    border-radius: 0.75rem;
    background-color: $color-surface-highlight;
    &_horizontal {
      min-height: 12.5rem;
      margin: 1.25rem 0rem;
    }
    & img {
      position: absolute;
    }
  }

  &__cards-in-tab {
    display: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1rem;
    opacity: 0;
    transition: opacity $transition-hover;
    &.active {
      display: block;
      opacity: 1;
    }
  }

  &__tab-title {
    @include font(1.25rem, 700, 136%);
    display: flex;
    gap: 0.25rem;
    align-items: flex-end;
  }

  &__title-icon {
    color: $color-surface-highlight;
  }

  &__tabs-btns {
    display: flex;
    flex-direction: row;
    border: 0.0625rem solid $color-border-primary;
    border-bottom: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden
    
  }
  &__tab-btn {
    @include flex(row,center,center);
    cursor: pointer;
    background-color: $color-surface-primary;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 0rem;
    color: $color-text-primary;
    transition: background-color $transition-hover;
    &:hover {
      background-color: $color-surface-highlight;
    }
    & .home__title-icon {
      &-text {
        color: $color-border-icons;
      }
    }
    &.active .home__title-icon {
      color: $color-accent-secondary;
      &-text {
        color: $color-border-secondary;
      }
    }
    &.active {
      background-color: $color-accent-primary;
      color: $color-text-invert;
      & .home__title-counter {
        color: $color-text-invert;
      }
    }
    & .home__title-counter {
      color: $color-text-secondary;
      @include font(1.125rem, 600, 144%);
    }
  }
}

.card-background {
  padding: 0.3125rem;
  border-radius: 0.75rem;
  background: $color-border-secondary;

  &_gold {
    background: $gradient-linear-gold;
  }

  &_silver {
    background: $gradient-linear-silver;
    padding: 0.3125rem;
    border-radius: 0.75rem;
  }

  &_bronze {
    background: $gradient-linear-bronze;
    padding: 0.3125rem;
    border-radius: 0.75rem;
  }
}

.card-home {
  min-height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform $transition-hover;
  height: 100%;

  &:hover &__img-container>img {
    transform: scale(1.1);
  }

  &__img-container {
    overflow: hidden;
    min-height: 23.75rem;

    & > img {
      transform: scale(1);
      transition: transform $transition-hover;
      object-fit: cover;
    }
  }

  &__badges {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__of-the-day {
    @include flex(row, center, center);
    width: 100%;
    height: 2.625rem;
    background: $gradient-linear-accent;
    color: white;
  }

  &__tags-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.625rem;
    margin-left: 0.5rem;
  }

  &__tag_video,
  &__tag_new {
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  &__tag_video {
    background: $gradient-linear-accent;
  }

  &__tag_new {
    background-color: $color-other-blue;
    transition: opacity $transition-hover;
  }

  &__info {
    @include flex(column);
    gap: 0.25rem;
    padding: 0.75rem 1rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background-color: $color-surface-primary;
  }

  &__name {
    @include text-truncate();
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    gap: 1rem;
  }

  &__location {
    display: flex;
    gap: 0.25rem;

    &>svg {
      flex: 0 0 1rem;
    }
  }

  &__location-icon {
    color: $color-border-icons;
  }

  &__date {
    color: $color-text-secondary;
  }

  &__verified {
    display: flex;
    gap: 0.25rem;
    color: $color-checked-not-verified;

    & > svg {
      flex: 0 0 1rem;
      color: $color-checked-not-verified;
    }

    &_similar {
      color: $color-checked-similar;
      svg {
        color: $color-checked-similar;
      }
    }
    &_not-similar {
      color: $color-checked-not-similar;
      svg {
        color: $color-checked-not-similar;
      }
    }
    &_by-photo {
      color: $color-checked-by-photo;
      svg {
        color: $color-checked-by-photo;
      }
    }
    &_by-admin {
      color: $color-checked-personally;
      svg {
        color: $color-checked-personally;
      }
    }
    &_by-video {
      color: $color-checked-by-video;
      svg {
        color: $color-checked-by-video;
      }
    }
  }

  &__rating {
    @include flex(row, center, center);
    gap: 0.25rem;

    &>svg {
      color: $color-border-icons;
    }
  }

  &__rating-text {
    color: $color-text-secondary;
  }
}

@media screen and (max-width: $desktop-md) {
  .home {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-left: 0;
      padding-right: 0;
    }

    &__cards-in-tab {
      padding: 1.25rem 1.5rem;
    }

  }
}

@media screen and (max-width: $desktop-sm) {
  .home {
    &__cards-container {
      grid-template-columns: minmax(calc(50% - 0.375rem), 1fr) minmax(calc(50% - 0.375rem), 1fr);
    }
    &__cards-in-tab {
      padding: 1.25rem 1rem;
    }
  }
}

@media screen and (max-width: $tablet) {
  .home {
    &__cards-container {
      grid-template-columns: minmax(100%, 1fr);
    }
    
  }
}

@media screen and (max-width: $mobile-md) {
  .home {
    &__cards-container {
      width: 100%;
    }
    &__tab-btn {
      & .home__tab-title {
        align-items: center;
      }
      & .home__tab-title, & .home__title-counter {
        @include font(0.875rem, 700, 143%);
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  
}