@use '../utils' as *;

.reset-password {

  &__container {
    display: flex;
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__body {
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: $color-surface-primary;
    border-radius: 0.75rem;
    padding: 2.5rem 3rem;
    min-width: 52.5rem;
    max-width: 52.5rem;
  }
  &__form-success {
    display: none;
  }

  &__inputs-title {
    text-align: center;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 22.875rem;
    width: 22.875rem;
  }

  &__input-container {

  }

  &__input {
    width: 100%;
    height: 3rem;
  }

  &__input-email {
  }

  &__button {
  }

  &__login-link {
  }

  &__success-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    & img {
      width: 5.25rem;
      height: 5.25rem;
    }
  }

  &__login-btn {
    width: 100%;
    max-width: 22.875rem;
  }
}

@media screen and (max-width:$desktop-sm) {
  .reset-password {
    &__form, &__form-success {
      min-width: auto;
    }
  }
  
}

@media screen and (max-width:$tablet) {
  .reset-password {
    &__form, &__form-success {
      padding: 1.5rem 1rem;
    }
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    &__inputs-container {
      max-width: none;
      width: 100%;
    }
  }
  
}