@use '../utils' as *;

.reset-password {

  &__container {
    display: flex;
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__body {
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: $color-surface-primary;
    border-radius: 12px;
    padding: 40px 48px;
    min-width: 840px;
    max-width: 840px;
  }
  &__form-success {
    display: none;
  }

  &__inputs-title {
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 366px;
    width: 366px;
  }

  &__input {
  }

  &__input-email {
  }

  &__button {
  }

  &__login-link {
  }

  &__success-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    & img {
      width: 84px;
      height: 84px;
    }
  }

  &__login-btn {
  }
}

@media screen and (max-width:$desktop-sm) {
  .reset-password {
    &__form, &__form-success {
      min-width: auto;
    }
  }
  
}

@media screen and (max-width:$tablet) {
  .reset-password {
    &__form, &__form-success {
      padding: 24px 16px;
    }
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    &__inputs-container {
      max-width: none;
      width: 100%;
    }
  }
  
}