@use '@/app/assets/scss/utils' as *;

.dropdown-filter {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: $color-surface-primary;
  border-radius: 0.5rem;
  padding: 0 1.25rem;
  opacity: 0;
  height: 0rem;
  max-height: 0rem;
  pointer-events: none;
  transition:
    opacity 0.3s,
    max-height 0.3s,
    height 0.3s,
    margin 0.2s 0.2s;

  &.active {
    transition:
      opacity 0.3s 0.2s,
      max-height 0.7s,
      height 0.7s,
      margin 0.3s;
    height: 100%;
    margin-top: 0.5rem;
    max-height: 150rem;
    opacity: 1;
    pointer-events: all;
  }

  &__body {
    @include flex(row, space-between);
    gap: 1.5rem;
    padding-top: 1.25rem;
  }

  &__btn-more {
    position: relative;
  }

  &__btn-text {
    color: $color-button;
    cursor: pointer;
  }

  &__item-price {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item-number-inputs {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__btns {
    @include flex(column);
    gap: 0.75rem;
  }

  &__body-bottom {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (max-width: $desktop-lg) {
  .dropdown-filter {
    &__body,
    &__body-bottom,
    &__other-filters {
      flex-wrap: wrap;
    }

    &__btns {
      flex-direction: row;
    }
  }
}

@media screen and (max-width: $desktop-md) {
  .dropdown-filter {
    &__body {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: $tablet) {
  .dropdown-filter {
    &__body-bottom {
      justify-content: center;
    }
  }
}

@media screen and (max-width: $mobile-md) {
  .dropdown-filter {
    &__body-bottom {
      justify-content: flex-start;
    }

    &__btns {
      flex-direction: column;
    }
  }
}
