@use '@/app/assets/scss/utils' as *;

.header {
  width: 100%;
  position: relative;
  background-color: $color-surface-primary;

  &-overlay {
    display: none;
  }

  &.logged-in {
    .header__profile-dropdown {
      display: block;
    }

    .header__login-btns {
      display: none;
    }
  }

  &.active {
    z-index: 1500;
  }

  &__container {
    @include flex(row, space-between, center);
    max-width: 90rem;
    margin: 0 auto;
    min-height: 4.625rem;
    position: relative;
    @include padding-horizontal(1.5rem);
  }

  &__content {
    width: 100%;
    @include flex(row, space-between, center);
    gap: 2rem;
  }

  &__logo {
    flex: 0 0 10rem;
    z-index: 101;
    color: $color-button;
  }

  &__body {
    @include flex(row, space-between, center);
    gap: 2rem;
  }

  &__buttons-burger {
    @include flex(row, flex-start, center);
    gap: 0.75rem;
  }

  &__buttons {
    display: none;
  }

  &__login-btns {
    @include flex(row, flex-start, flex-start);
    gap: 0.5rem;

    & .button {
      white-space: nowrap;
    }
  }

  &__navmenu {
    position: relative;
  }

  &__dropdown-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    transition:
      background-color $transition-hover,
      color $transition-hover;
    border-radius: 0.375rem;

    &:hover,
    &:focus,
    &.selected {
      background-color: $color-surface-brand;
    }

    &:hover .header__chevron,
    &:focus .header__chevron {
      color: $color-accent-primary;
    }

    &.active {
      background-color: $color-surface-highlight;
    }

    &.active .header__chevron {
      color: $color-border-icons;
      transform: rotateZ(-180deg);
    }

    &.active ~ .header__item-dropdown-body {
      opacity: 1;
      pointer-events: all;
      transition:
        opacity $transition-hover,
        height $transition-hover,
        max-height $transition-hover;
    }
  }

  &__item-dropdown-body {
    z-index: 1001;
    pointer-events: none;
    opacity: 0;
    transition:
      opacity $transition-hover,
      height $transition-hover,
      max-height $transition-hover;
    border: 0.0625rem solid $color-border-accent;
    border-radius: 0.375rem;
    background-color: $color-surface-primary;
    position: relative;
    top: 0.3125rem;
  }

  &__item-with-dropdown {
    height: 2.875rem;
  }

  &__item-dropdown {
    display: block;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition:
      background-color $transition-hover,
      color $transition-hover;

    &:hover,
    &:focus,
    &.selected {
      background-color: $color-surface-brand;
    }

    &.active {
      background-color: $color-surface-highlight;
    }
  }

  &__chevron {
    color: $color-border-icons;
    transition:
      transform $transition-hover ease-in,
      color $transition-hover;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }

  &__text {
    display: block;
    max-width: min-content;
    position: relative;
    white-space: nowrap;
  }

  &__profile-dropdown {
    display: none;
    @include font(1rem, 600, 137%);
    height: 3.75rem;
  }

  &__profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    width: 6.25rem;
    height: 100%;
  }
}

.navmenu-header {
  &__list {
    @include flex(row, space-between, center);
    @include font(1rem, 600, 137%);
  }

  &__item {
    cursor: pointer;
    display: flex;
    padding: 0.75rem 1rem;
    transition:
      background-color $transition-hover,
      color $transition-hover;
    border-radius: 0.375rem;

    &:hover,
    &:focus,
    &.selected {
      background-color: $color-surface-brand;
    }

    &.active {
      background-color: $color-surface-highlight;
    }
  }

  &__link {
    display: block;
    max-width: min-content;
    position: relative;
    white-space: nowrap;
  }
}

.dropdown-lang-header {
  &__btn {
    @include flex(row, space-between, center);
    cursor: pointer;
  }
}

.burger-header {
  @include flex(column, center, center);
  display: none;
  gap: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.375rem 0.1875rem;
  cursor: pointer;
  z-index: 101;
}

.burger-header__stripe_1,
.burger-header__stripe_2,
.burger-header__stripe_3 {
  transition: all 0.3s;
}

.burger-header.active .burger-header__stripe_1 {
  transform: translateY(0.1563rem) rotate(45deg);
}

.burger-header.active .burger-header__stripe_2 {
  display: none;
  opacity: 0;
}

.burger-header.active .burger-header__stripe_3 {
  transform: translateY(-0.1563rem) rotate(-45deg);
}

.burger-header__stripe {
  background-color: $color-surface-invert;
  width: 1.125rem;
  height: 0.0625rem;
  border-radius: 0.625rem;
}

@media screen and (min-width: $desktop-md) {
  .header__body {
    width: 100%;
  }
}

@media screen and (max-width: $desktop-md) {
  .header {
    z-index: 102;

    &-overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      @include size(100%);
      z-index: 101;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__container {
      @include padding-horizontal(1.25rem);
    }

    &__dropdown-btn {
      justify-content: space-between;
    }

    &__profile-btn {
      justify-content: center;
    }

    &__profile-dropdown {
      max-height: 3.375rem;
    }

    &__item-with-dropdown {
      height: auto;
    }

    &__item-dropdown-body {
      overflow: hidden;
      max-height: 0rem;
    }

    &__item-profile-dropdown-body {
      max-height: none;
    }

    &__dropdown-btn.active ~ &__item-dropdown-body {
      height: 100%;
      max-height: 7.1875rem;
    }

    &__dropdown-btn.active ~ &__item-profile-dropdown-body {
      max-height: none;
    }
  }

  .header__content {
    gap: 1.6875rem;
  }

  .header__navmenu {
    width: 100%;
  }

  .navmenu-header__list {
    flex-direction: column;
    gap: 2rem;
    @include font(1.5rem, 600, 136%);
    font-family: 'Manrope', sans-serif;
    color: $color-text-primary;
  }

  .burger-header {
    display: flex;
    z-index: 1001;
  }

  .header__body {
    @include flex(column, center, center);
    background-color: $color-surface-primary;
    position: absolute;
    transition:
      top 0.5s ease,
      visibility 0s 0.5s,
      opacity 0s 0.2s ease-in;
    z-index: 1000;
    top: -120vh;
    left: 0;
    width: 100%;
    padding: 2.5rem;
    gap: 0rem;
    visibility: hidden;
    opacity: 0;
    border-top: 0.0625rem solid $color-border-primary;
  }

  .header__body.active {
    top: 4.625rem;
    transition:
      top 0.6s ease-out,
      visibility 0s,
      opacity 0s ease-in;
    visibility: visible;
    opacity: 1;
  }

  .header__navmenu {
    margin-bottom: 0rem;
  }

  .header__buttons {
    @include flex(row, flex-start, center);
    margin-left: auto;
    gap: 0.75rem;
  }

  .header__buttons-burger {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
  }

  .header__login-btns {
    width: 100%;
    justify-content: space-between;

    & .button {
      width: 100%;
    }
  }

  .navmenu-header {
    &__list {
      align-items: stretch;
    }
  }
}

@media screen and (max-width: $tablet) {
  header {
    &__container {
      @include padding-horizontal(1rem);
    }
  }

  .header.logged-in .header__profile-dropdown-burger {
    display: none;
  }

  .header__content {
    gap: 0.875rem;
  }

  .header__buttons {
    & .header__btn-register,
    .header__theme-switch {
      display: none;
    }
  }

  .header__buttons-burger {
    @include flex(column, center, center);
    gap: 1.5rem;

    & .header__btn-login,
    .header__dropdown-lang {
      display: none;
    }

    & .header__theme-switch {
      order: -1;
    }
  }

  .header__navmenu::after {
    content: '';
    width: 100%;
    background-color: $color-border-primary;
    height: 0.0625rem;
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .header__body {
    padding: 1rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: $mobile-md) {
  .header {
    &.active {
      z-index: 102;
    }
  }
  .header.logged-in .header__profile-dropdown {
    display: none;
  }

  .header.logged-in .header__profile-dropdown-burger {
    display: block;
  }

  .header__content {
    gap: 0.5rem;
  }

  .header__buttons {
    & .header__login-btns {
      display: none;
    }
  }

  .navmenu-header__list {
    @include font(1.25rem, 700, 136%);
  }

  .header__login-btns {
    flex-direction: column;
  }

  .header__body {
    padding: 1rem;
    padding-bottom: 0.75rem;
  }

  .header__buttons-burger {
    & .header__btn-login {
      display: flex;
    }
  }
}
