@use '@/app/assets/scss/utils' as *;

.hero {
  @include padding-vertical(1.5rem);
  border: 0.0625rem solid $color-border-secondary;
  background: $gradient-radial;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  &__container {
    @include flex(column);
  }

  &__title {
    margin-bottom: 1.75rem;
  }

  &__filter-btns {
    @include flex(row, flex-start, center);
    margin-bottom: 0.5rem;
    margin-top: 1.75rem;
    gap: 1rem;

    .button__icon {
      color: $color-button;
    }
  }

  &__filter-btn {
    &.active {
      background-color: $color-surface-primary;
    }
  }
}

@media screen and (max-width: $tablet) {
  .hero {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }

    &__title,
    &__filter-btns {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__filter-btns {
      flex-wrap: wrap;
    }

    &__filter-btn {
      .button__text {
        display: none;
      }
    }

    &__title {
      @include font(1.75rem, 700, 2.3906rem);
    }
  }
}
