@use '@/app/assets/scss/utils' as *;

.home {
  padding: 1.5rem 0rem;

  &__container {
    display: flex;
    gap: 2.75rem;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: white;
  }

  &__heading {
    @include flex(row, center, center);
    white-space: nowrap;
    margin-bottom: 1.25rem;
    padding: 0.75rem 0rem;
    background: $gradient-linear-accent;
    border-radius: 0.5rem;

    &_random-cards {
      margin-bottom: 0.5rem;
    }
  }

  &__all-cards {
    display: flex;
    flex-direction: column;
    flex: 1 1 81%;
    gap: 0.75rem;
    background-color: $color-surface-primary;
    border: 0.0625rem solid $color-border-primary;
    border-radius: 0.75rem;
    padding: 0rem 1rem;
  }

  &__verified-cards,
  &__coming-soon-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__verified-cards,
  &__coming-soon-cards,
  &__random-cards {
    padding: 1rem 0rem;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: minmax(calc(33% - 0.25rem), 1fr) minmax(calc(33% - 0.25rem), 1fr) minmax(
        calc(33% - 0.25rem),
        1fr
      );
    grid-template-rows: auto;
    gap: 0.75rem;
  }

  &__image-block {
    @include flex(column, center, center);
    @include font(2.5rem, 600, 120%);
    position: relative;
    font-family: Inter;
    color: $color-text-secondary;
    font-size: 2.5rem;
    min-height: 37.5rem;
    border-radius: 0.75rem;
    background-color: $color-surface-highlight;

    &_horizontal {
      min-height: 12.5rem;
      margin: 0.5rem 0rem 1.25rem 0rem;
    }

    & img {
      position: absolute;
    }
  }

  &__cards-in-tab {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1rem;
    transition: opacity $transition-hover;
  }

  &__tab-title {
    @include font(1.25rem, 700, 136%);
    display: flex;
    gap: 0.25rem;
    align-items: flex-end;
  }

  &__title-icon-container {
    display: flex;
    align-items: center;
  }

  &__title-icon {
    color: $color-surface-highlight;
  }

  &__tabs-btns {
    display: flex;
    flex-direction: row;
    border: 0.0625rem solid $color-border-primary;
    border-bottom: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &__tab-btn {
    @include flex(row, center, center);
    cursor: pointer;
    background-color: $color-surface-primary;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 0rem;
    color: $color-text-primary;
    transition: background-color $transition-hover;

    &:hover {
      background-color: $color-surface-highlight;
    }

    & .home__title-icon {
      &-text {
        color: $color-border-icons;
      }
    }

    &.active .home__title-icon {
      color: $color-accent-secondary;

      &-text {
        color: $color-border-secondary;
      }
    }

    &.active {
      background-color: $color-accent-primary;
      color: $color-text-invert;

      & .home__title-counter {
        color: $color-text-invert;
      }
    }

    & .home__title-counter {
      color: $color-text-secondary;
      @include font(1.125rem, 600, 144%);
    }
  }
}

@media screen and (max-width: $desktop-md) {
  .home {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-left: 0;
      padding-right: 0;
    }

    &__cards-in-tab {
      padding: 1.25rem 1.5rem;
    }
  }

  .home_girls {
    background-color: $color-surface-primary;
    padding: 0.5rem 0rem 1.5rem;

    .home__container {
      background-color: $color-surface-primary;
    }

    .home__all-cards {
      border: 0rem;
      border-radius: 0rem;
      padding: 0rem 2.5rem;
    }
  }
}

@media screen and (max-width: $desktop-sm) {
  .home {
    &__cards-container {
      grid-template-columns: minmax(calc(50% - 0.375rem), 1fr) minmax(calc(50% - 0.375rem), 1fr);
    }

    &__cards-in-tab {
      padding: 1.25rem 1rem;
    }
  }

  .home_girls {
    .home__all-cards {
      padding: 0rem 1.25rem;
    }
  }
}

@media screen and (max-width: $tablet) {
  .home {
    &__cards-container {
      grid-template-columns: minmax(100%, 1fr);
    }
  }

  .home_girls {
    .home__all-cards {
      padding: 0rem 1rem;
    }
  }
}

@media screen and (max-width: $mobile-md) {
  .home {
    &__cards-container {
      width: 100%;
    }

    &__tab-btn {
      & .home__tab-title {
        align-items: center;
      }

      & .home__tab-title,
      & .home__title-counter {
        @include font(0.875rem, 700, 143%);
      }
    }
  }
}
