@use '@/app/assets/scss/utils' as *;

.form-section {
  padding: 2rem 0rem;
  &__container {
    display: flex;
    gap: 2.75rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}

.main-block-form-section {
  display: flex;
  gap: 1.25rem;
  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0 1 66%;
  }
}

.info-container-form-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: $color-surface-primary;
  border: 0.0625rem solid $color-border-secondary;
  border-radius: 0.75rem;
  padding: 1.5rem 1.25rem;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.0625rem;
      margin-top: 0.5rem;
      background-color: $color-border-primary;
    }
  }

  &__title {
    @include font(1.25rem, 700, 136%);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 12.375rem 1fr;
    row-gap: 0.25rem;
    column-gap: 0.75rem;
  }

  &__column {
    display: grid;
    row-gap: 0.25rem;
    column-gap: 0.75rem;
    grid-template-rows: auto 1fr;
  }

  &__row-title,
  &__column-title {
    @include font(1rem, 700, 144%);
  }

  &__row-text {
    display: flex;
    word-break: break-word;
    &_grey {
      color: $color-text-secondary;
    }
  }

  &__column-text {
    display: flex;
    flex-direction: column;
  }
}

.form-section {
  &__additional-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.additional-block-form-section {
  &__contacts-and-hours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

.info-container-form-section {
  &__checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $color-text-secondary;
    text-decoration: line-through;
    &::before {
      content: '';
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      background-color: $color-surface-highlight;
      border-radius: 0.25rem;
      border: 0.0625rem solid $color-border-primary;
    }
  }

  &__row-span {
    @include font(0.875rem, 400, 143%);
    color: $color-checked-not-verified;
  }

  &__checkbox-container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    &.active .info-container-form-section__checkbox {
      color: $color-text-primary;
      text-decoration: none;
      &::before {
        border-width: 0rem;
        background: url('../assets/icons/checkmark.svg') no-repeat center;
        background-color: $color-checked-not-verified;
      }
    }

    &.active-green .info-container-form-section__checkbox {
      color: $color-text-primary;
      text-decoration: none;
      &::before {
        border-width: 0rem;
        background: url('../assets/icons/checkmark.svg') no-repeat center;
        background-color: $color-checked-similar;
      }
    }

    &.extra .info-container-form-section__checkbox {
      color: $color-text-primary;
      text-decoration: none;
      &::before {
        border-width: 0rem;
        background: url('../assets/icons/dollar.svg') no-repeat center;
        background-color: $color-checked-not-similar;
      }
    }

    &.extra .info-container-form-section__checkbox-price {
      display: block;
    }

    &.cross .info-container-form-section__checkbox {
      color: $color-text-primary;
      text-decoration: none;
      &::before {
        background: url('../assets/icons/check-cross.svg') no-repeat center;
        background-color: $color-checked-not-verified;
      }
    }

    &.description .info-container-form-section__services-description {
      display: block;
    }
  }

  &__checkbox-row {
    display: grid;
    grid-template-columns: 12.5rem 1fr;
  }
}

@media screen and (max-width: $desktop-md) {
  .form-section {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      // padding-left: 0;
      // padding-right: 0;
    }
  }
  .main-block-form-section {
    &__details {
      flex: 0 0 47%;
    }
  }
}

@media screen and (max-width: $desktop-sm) {
  .additional-block-form-section {
    &__contacts-and-hours {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: $tablet) {
  .main-block-form-section {
    flex-direction: column;
  }
  .info-container-form-section {
    padding: 0.75rem;
    &__heading {
      row-gap: 0.5rem;
    }
  }
}

@media screen and (max-width: $mobile-md) {
  .form-section {
    padding: 1.25rem 0rem;
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .info-container-form-section {
    &__title {
      @include font(1.125rem, 600, 144%);
    }

    &__row {
      grid-template-columns: 10.875rem 1fr;
    }

    &__row-title,
    &__column-title {
      @include font(0.875rem, 700, 143%);
    }

    &__row-text {
      @include font(0.875rem, 400, 143%);
    }
  }
}
